*{
  font-family: 'Akaya Telivigala', cursive;
}
button {
  cursor: pointer;
  border: none;
  width: 50px;
  height: 50px;
}
.play {
  background: url('./assets/svg/play-button.svg') no-repeat;
}

.pause {
  background: url('./assets/svg/pause-button.svg') no-repeat;
}
.next {
  background: url('./assets/svg/nextbutton.svg') no-repeat;

}
.prev {
  background: url('./assets/svg/nextbutton.svg') no-repeat;
  transform: rotate(180deg);
}
body {
  background: url('./assets/lvl70.jpg')0 0/cover no-repeat;
}
section {
  background: rgba(109, 108, 117,0.9);
  width: 300px;
  margin: 100px auto;
  text-align: center;
  border: 1px slategray solid;
}
h1 {
  width: 300px;
  height: 100px;
  color:#fff;
  font-size: 32px;
}
.volume-bar {
  width: 100px;
}
.progress-bar{
  display: block;
  width: 250px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.vol-on {
  background: url('./assets/svg/vol-on.svg')center /25px 25px no-repeat;
}
.vol-off {
  background: url('./assets/svg/vol-off.svg')center /25px 25px no-repeat;
}
.volume-num {
  color:#fff;
  display: inline-block;
  width: 20px;
}
.this-time {
  color: #fff;
}
.volume-block{
  display: flex;
  align-items: center;
  justify-content: center;
}